body {
    background: pink;
}

.col-md-4 {
    border: 3px dashed gray;
    text-align: center;
    padding-bottom: 300px;
    padding-top: 20px;
}

#image {
    width: 300px;
    height: 300px;
}

.jumbotron {
    background: lightcyan;
    text-align: center;
}

p {
    margin: 20px auto;
}